*~
*.bak
*.log
.*.sw[a-z]
\#*\#
.\#*
*.tmp
*.gz

/build/
CMakeFiles/*
Makefile
CPackConfig.cmake
CPackSourceConfig.cmake
CMakeCache.txt
CMakeLists.txt.user
tags

/hexa/config.hpp
/install/hexahedra-server.rc
/install/hexahedra-client.rc
/win32/

.excludes
hexahedra.json
manifest.json

