Source: hexahedra
Maintainer: Nocte <hexahedra.maintainer@gmail.com>
Section: games
Priority: optional
Build-Depends: debhelper (>= 9), cmake (>= 2.8), cdbs, libboost-dev (>= 1.49), libboost-chrono-dev (>= 1.49), libboost-filesystem-dev (>= 1.49), libboost-program-options-dev (>= 1.49), libboost-signals-dev (>= 1.49), libboost-system-dev (>= 1.49), libboost-thread-dev (>= 1.49), libsfml-dev (>= 2.0.0), libenet-dev, libjpeg-dev, libglew-dev, libglu1-mesa-dev | libglu1-dev, libluajit-5.1-dev, libsqlite3-dev, librhea1-dev, libes1-dev
Standards-Version: 3.9.4
Homepage: http://github.com/Nocte-/hexahedra

Package: hexahedra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Collection of blocky sandbox games
 A collection of single- and multiplayer blocky sandbox games.

