#include <windows.h>
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
1 ICON "hexahedra.ico"
VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,1,1,0
PRODUCTVERSION 0,1,1,0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
    BEGIN
      VALUE "Comments", "Build "
      VALUE "CompanyName", ""
      VALUE "FileDescription", "Hexahedra game server"
      VALUE "FileVersion", "0.1.1"
      VALUE "InternalName", "hexahedra-server"
      VALUE "LegalCopyright", "Copyright (c) 2013, Nocte <nocte@hippie.nu>"
      VALUE "OriginalFilename", "hexahedra-server.exe"
      VALUE "ProductName", "Hexahedra"
      VALUE "ProductVersion", "0.1.1"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END

